<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">

  <Identity
    Name="859c5b17-b415-46a3-8ca7-e2fba2b9395f"
    Version="1.0.0.0"
    Publisher="CN=System Administrator" />

  <Properties>
    <DisplayName>Project C</DisplayName>
    <PublisherDisplayName>System Administrator</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application 
      Id="App"
      StartPage="default.html">

      <m2:VisualElements
        DisplayName="Project C"
        Description="Project C"
        ForegroundText="light"
        BackgroundColor="#464646"
        Square150x150Logo="images\Logo.png"
        Square30x30Logo="images\SmallLogo.png">

        <m2:SplashScreen Image="images\splashscreen.png" />

      </m2:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

</Package>
